.register-form {
  width: 25%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, -40%);
  padding: 1.5% 15px;
  box-shadow: 0px 10px 20px 5px rgb(206, 206, 206);
  border-radius: 25px;
  background-color: white;
  color: black;
}

.input-field {
  margin: 20px;
}

.register-img-ref {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 45%;
}

.footer {
  font-size: 12px;
  position: absolute;
  bottom: 1%;
  left: 45%;
}

.register-root {
  height: 100vh;
  background-color: white;
  overflow: hidden;
}
